<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.StudentMapper">
    <resultMap id="studentMap" type="Student">
        <id column="id" property="id"></id>
        <result property="studentName" column="student_name"/>
        <result property="studentNum" column="student_num"/>
        <result property="age" column="age"></result>
        <result property="gender" column="gender"></result>
        <association property="grade" javaType="Grade">
            <id column="g_id" property="id"></id>
            <result column="grade_name" property="gradeName"></result>
        </association>
    </resultMap>
    <select id="queryStudentByGradeId" parameterType="integer" resultMap="studentMap">
        SELECT s.*,g.id as g_id,g.grade_name
        FROM
        student s,grade g
        WHERE
        g.id=#{gradeid}
        and
        s.grade_id=g.id
    </select>

</mapper>